{% extends 'blocks/base.html' %}

{% block style %}

{% endblock %}

{% block %}
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080')">
          <div class="carousel-caption">
            <h5>Pagamentos</h5>
            <p>Todas informações relacionadas aos pagamentos.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080')">
          <div class="carousel-caption">
            <h5>Sobre</h5>
            <p>Tudo sobre respeito à equipe de desenvolvimento e sobre o site.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://source.unsplash.com/lHGeqh3XhRY/1920x1080')">
          <div class="carousel-caption">
            <h5>Perfil</h5>
            <p>Informações sobre o seu perfil.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  <h1 class="h1 container text-center mt-3 mb-3">Bem-vindo</h1>
  <p class="container">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta sit itaque veritatis excepturi asperiores repudiandae vitae sint dolor. Saepe aperiam odit hic aliquid perferendis vitae harum, fuga ad perspiciatis voluptatem?</p>
  <p class="container">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta sit itaque veritatis excepturi asperiores repudiandae vitae sint dolor. Saepe aperiam odit hic aliquid perferendis vitae harum, fuga ad perspiciatis voluptatem?</p>
  <p class="container">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta sit itaque veritatis excepturi asperiores repudiandae vitae sint dolor. Saepe aperiam odit hic aliquid perferendis vitae harum, fuga ad perspiciatis voluptatem?</p>

  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script type="text/javascript" src="script.js"></script>
</body>

</html>